---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Inicio" description="GuitarLa pagina de venta de guitarras, blog , cursos y mucho màs.">
	<main>
		primera pagina en astro
	</main>
</Layout>

<style>

</style>
