---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Nosotros" description="GuitarLa pagina de venta de guitarras, blog , cursos y mucho màs.">
	<main class="contenedor">
		<h1 class="heading">
			Nosotros
		</h1>
	</main>
</Layout>

<style>

</style>
